[submodule "GNU Bash Automatic Checking Program for Git Projects"]
	path = GNU Bash Automatic Checking Program for Git Projects
	url = https://github.com/Lin-Buo-Ren/GNU-Bash-Automatic-Checking-Program-for-Git-Projects
